.login-form {
    padding: 50px;
    margin: 20px;
    background-color: #C3E1E4;
    border: 7px solid #689a9f;
    height: 600px;
    width: 500px;
    color: #3C2A21;
    font-weight: 600;
}

.h-login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-form input {
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    font-size: 17px;
    background-color: #C3E1E4;
    border-bottom: 2px solid #689a9f;
    transition-duration: 1s;
    font-size: 20px;
    color: #3C2A21;
}

.login-form input:focus {
    height: 40px;
    transition-duration: 1s;
    pointer-events: none;
    outline: none;
    padding-top: 20px;
}

.login-form label {
    position: absolute;
    z-index: 10;
    transition-duration: 1s;
}

.login-fields {
    padding: 50px 0px;
    position: relative;
}

.field {
    padding: 10px;
}

.login-fields .field .filled {
    height: 40px;
    transition-duration: 1s;
    padding-top: 20px;
  }

.label-filled {
    color: #689a9f;
    transition-duration: 1s;
}

.successMsg {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #5cff4d; /* green */
    border-radius: 5px;
    color: #2aff86; /* green */
    background-color: #e9ffe6; /* light green */
    text-align: center;
  }

  .error {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ff4d4d; /* red */
    border-radius: 5px;
    color: #ff4d4d; /* red */
    background-color: #ffe6e6; /* light red */
    text-align: center;
  }
